<div id="background">
    <div id="overlay"></div>
    <div id="contenuto">
        <img src="../../../assets/img/logohead2-1.png" alt="Viva Memoria">
        <div id="info" class="d-flex align-items-center justify-content-center">
            <h2>L'Amore è la Risposta !</h2>
        </div>
        <div class="d-flex justify-content-center">
            <button id="bottone" class="btn" routerLink="home" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                Scopri di più
            </button>
            <div id="copyright">
                <p class="d-flex justify-content-center">© 2016 Redentoriste. All Rights Reserved</p>
            </div>
        </div>
    </div>

</div>