.navbar {
    background-color: #7B1A27;
    font-family: 'Poppins';
}

#scomparti {
    color: #fff;
    margin-right: 40vh;
}

#scomparti li {
    list-style: none;
}

#scomparti a {
    padding: 4vh 4vh;
}