<nav class="navbar navbar-expand-lg">
    <div id="scomparti" class="d-flex justify-content-end container-fluid">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chi Siamo
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Esplora
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lavori
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">evijcdsm</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Foto
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">evijcdsm</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contatti
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">evijcdsm</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</nav>